<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=1;"/>
    <link rel="stylesheet" type="text/css" href="../css/superbowl.css">
    <link rel="stylesheet" type="text/css" href="../css/superbowl-list-view.css">
    <title>superbowlsquare</title>
    <script type="text/javascript" src="../js/d3.v3.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/superbowl_base.js"></script>
    <script type="text/javascript" src="../js/superbowl.js"></script>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <script type="text/plain" id="user-data">
        {% autoescape false %}
        {{userData}}
        {% endautoescape %}
    </script>
</head>
<body class="">
<div class="header-container">
    <div class="menu-container">
        <ul class="menu">
            <li class="box-view selected">grid</li>
            <li class="spacer">|</li>
            <li class="list-view">list</li>
        </ul>
        <ul class="menu">
            <li class="rules-button">rules</li>
            <li class="spacer">|</li>
            <li class="logout-button">logout</li>
        </ul>
    </div>
</div>

<div class="team-info">
    <ul class="team team1">
        <li class="logo-container">
            <img class="logo" src="../images/logo_team1.png"/>
        </li>
        <li>
            <p class="team-name x"> Panthers </p>
            <p class="score"></p>
        </li>
    </ul>
    <ul class="team team2">
        <li class="logo-container">
            <img class="logo"  src="../images/logo_team2.png"/>
        </li>
        <div>
            <p class="team-name y"> Broncos </p>
            <p class="score"></p>
        </div>
    </ul>
</div>

<div class="winners removed">
    <img class="trophy-icon" src="../images/trophy_icon.png"/>
    <ul>
        <li class="first hidden">
            <h4>1st</h4>
        </li>
        <li class="second hidden">
            <h4>half</h4>
        </li>
        <li class="third hidden">
            <h4>3rd</h4>
        </li>
        <li class="final hidden">
            <h4>final</h4>
        </li>
    </ul>
</div>

<div class="square-container">
    <div class="box-info">
        <ul class="info">
            <div class="user-info-top">
                <li class="user-photo removed">
                    <img src=""/>
                </li>
                <li class="user-name removed"><p class="name"></p></li>
            </div>
            <li class="price hidden">
                <p class="breakdown"></p>
                <div class="pay-button"/>
            </li>
        </ul>
    </div>
</div>



<div class="square">
</div>

<div class="user-picks-container hidden">
</div>

<div class="rules-and-payout-container">
    <div class="rules-and-payout">
        <div class="close">
            <p>X</p>
        </div>
        <ul class="rules">
            <li><h4>Rules</h4></li>
            <li>1. Select as many boxes as you'd like</li>
            <li class="indent">a. You can unselect by clicking that box again</li>
            <li class="indent">b. You can select boxes up until the night before the Super Bowl</li>
            <li>2. Once all boxes have been selected, numbers will be assigned randomly to the row and column headers.</li>
            <li class="indent">a. Numbers 0-9 will be assigned to columns and rows corrosponding to each team.</li>
            <li class="indent">b. These numbers represent the last digit of each teams score through out the game.</li>
            <li>3. At the end of each quarter there will be a winner (4 chances to win in all), in order to be the winner for that quarter you must for example: </li>
            <li class="indent">My boxes Panthers: 1 / Broncos: 4, I win if the score for that quarter was 11-14 or even 21-24.</li>
        </ul>
        <ul class="payouts">
            <li><h4>Payouts</h4></li>
            <li>1st: $125</li>
            <li>Halftime: $250</li>
            <li>3rd: $125</li>
            <li>Final: $500</li>
        </ul>
    </div>
</div>
<div class="disable-overlay"></div>
</body>
</html>