<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=1;"/>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title>superbowlsquare</title>
    <script type="text/javascript" src="../js/d3.v3.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/superbowl_base.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
    <link rel="icon" href="2013.superbowlsquare.me/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="2013.superbowlsquare.me/favicon.ico" type="image/x-icon" />
</head>
<body class="">
<div class="login">
    <div class="team-info">
        <ul class="team">
            <li class="logo-container">
                <img class="logo" src="../images/logo_team1.png"/>
            </li>
        </ul>
        <ul class="team">
            <li class="logo-container">
                <img class="logo"  src="../images/logo_team2.png"/>
            </li>
        </ul>
    </div>

    <div class="title">
        <p>Welcome to the 2020 Superbowl Square</p>
    </div>

    <a class="login-button">
        <img src="../images/login-with-venmo.png"/>
    </a>
</div>
</body>
</html>